* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-image: url("../images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    background-size: contain;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    padding: 20% 11% 11%;
    width: 100%;
}

/* main section */

.main-section {
    color: #FFF;
    margin-right: 2%;
    width: 50%;
}

.main-section h1 {
    font-size: 3.3vw;
    margin-bottom: 4%;
}

.main-section p {
    font-size: 1.1vw;
}

/* form section */

.form-section {
    color: #FFF;
    font-size: 1vw;
    font-weight: 400;
    margin-left: 2%;
    text-align: center;
    width: 50%;

}

.ad {
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    box-shadow: 0 0.5vw 0 rgba(0, 0, 0, .1); 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 5%;
    padding: 3.7%;
    width: 100%;
}

.reg-para {
    font-weight: 400;
}

form {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0.6vw 0 rgba(0, 0, 0, .15); 
    padding: 7.5%;
}

input {
    background-image: none;
    background-repeat: no-repeat;
    background-position: right 7% bottom 50%;
    border: solid 1px hsla(246, 25%, 77%, 50%);
    border-radius: 7px;
    color: #000;
    font-weight: 600;
    font-size: 1vw;
    margin: 2% 0 2%;
    outline: none;
    padding: 4% 7%;
    width: 100%;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #FFF inset;
    -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}

#f-name {
    margin: 0 0 2%;
}

input:hover {
    border-color: hsl(249, 10%, 26%);
}

button {
    background-color: hsl(154, 59%, 51%);
    border: none;
    box-shadow: inset 0 -0.3vw rgba(0, 0, 0, .1); 
    border-radius: 7px;
    color: #FFF;
    font-size: 1vw;
    letter-spacing: 0.7px;
    margin-top: 2%;
    outline: none;
    padding: 4%;
    text-transform: uppercase;
    width: 100%;
}

button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.terms {
    color: rgb(0, 0, 0, 0.3);
    font-size: 0.7vw;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 4%;
}

.terms-red {
    color: hsla(0, 100%, 74%, 10);
}

/* footer section */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.attribution { font-size: 0.7vw;; text-align: center; }
.attribution a {text-decoration: none; color: hsl(248, 32%, 49%) }

/* javascript section */

.error-para {
    color:  hsl(0, 100%, 74%);
    display: none;
    font-size: 0.75vw;
    font-style: italic;
    text-align: right;    
    margin-bottom: 2%;
}

#p-error {
    text-align-last: center;
}

/* mobile viewport */

@media (max-width: 1000px) {
    body {
        background-image: url("../images/bg-intro-mobile.png");
        background-size: cover;
    }

    .wrapper {
        flex-direction: column;
        text-align: center;
        padding: 0 0 12%;
    }

    /* main section */

    .main-section, .form-section {
        width: 87%;
        margin: 18% 0 0;
    }

    .main-section h1 {
        font-size: 7vw;
        margin: 7% 0;
    }
    
    .main-section p, button{
        font-size: 4.1vw;
    }

    /* form section */

    .para {
        font-size: 4.1vw;
        padding: 2% 20%;
        line-height: 7vw;
    }

    .ad, form {
        box-shadow: 0 2vw 0 rgba(0, 0, 0, .1); 
        margin-bottom: 7%;
    }

    input {
        font-size: 4vw;
        margin-top: 4%;
        padding: 7%;
    }

    .error-para {
        font-size: 2.5vw;
    }

    button {
        box-shadow: inset 0 -1.2vw rgba(0, 0, 0, .1); 
        margin-top: 4%;
        padding: 7%;
    }

    /* footer section */

    .terms, .attribution {
        font-size: 2.5vw;
        padding: 0 7%;
        line-height: 5vw;
    }

}
